[user]
	email = ziqi.wang@nokia.com
	name = Ziqi Wang
[init]
	defaultBranch = main
[http]
	proxy = 
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
